<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Processing</servlet-name>
        <servlet-class>Processing</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewEntry</servlet-name>
        <servlet-class>hotel.NewEntry</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DoLogin</servlet-name>
        <servlet-class>login.DoLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckSrv</servlet-name>
        <servlet-class>bill.CheckSrv</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Processing</servlet-name>
        <url-pattern>/Processing</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>newguest</servlet-name>
        <jsp-file>/newguest.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>action</servlet-name>
        <jsp-file>/action.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>error</servlet-name>
        <jsp-file>/error.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>index</servlet-name>
        <jsp-file>/index.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>checkin</servlet-name>
        <jsp-file>/checkin.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>checkout</servlet-name>
        <jsp-file>/checkout.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>bill</servlet-name>
        <jsp-file>/bill.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>welcome</servlet-name>
        <jsp-file>/welcome.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>admincheckout</servlet-name>
        <jsp-file>/admincheckout.jsp</jsp-file>
    </servlet>
    <!--mapping-->
    <servlet-mapping>
        <servlet-name>newguest</servlet-name>
        <url-pattern>/newguest/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>action</servlet-name>
        <url-pattern>/action/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>error</servlet-name>
        <url-pattern>/error/</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>index</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>checkin</servlet-name>
        <url-pattern>/checkin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>checkout</servlet-name>
        <url-pattern>/checkout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>bill</servlet-name>
        <url-pattern>/bill</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewEntry</servlet-name>
        <url-pattern>/NewEntry</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>welcome</servlet-name>
        <url-pattern>/welcome</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>admincheckout</servlet-name>
        <url-pattern>/admincheckout</url-pattern>
    </servlet-mapping>
    <!--    <error-page>
        <error-code>404</error-code>
        <location>/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/error.jsp</location>
    </error-page>-->
    <servlet-mapping>
        <servlet-name>DoLogin</servlet-name>
        <url-pattern>/DoLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckSrv</servlet-name>
        <url-pattern>/CheckSrv</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            300
        </session-timeout>
    </session-config>
</web-app>
